.titles{
    float: right;
    font-size: 0,5rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem; /* Rounded corners */
    box-shadow: 0 0 10px black; /* Subtle shadow */
    transition: all 0.5s ease;
}
.titles:hover{
    color: white;
    box-shadow:  0 0 10px rgb(37, 28, 131);

}
.p-6{
    background-color:rgba(16, 20, 59, 126);
}

.heder{
    text-align: center;
    padding: 40px;
    background-color: rgba(16, 20, 59, 0.686);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
container mx-auto px-4 grid md:grid-cols-2 gap-12 items-center
.other{
    max-width: auto;
    max-height: auto;
    grid: 2;
    gap: 12;
    align-items: center;
}